<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</body>
</html>
